{% extends 'base.html.twig' %}

{% block title %}Prostages, {{LaFormation}}{% endblock %}

{% block nomPage %}
 <h3>{{LaFormation}}</h3>
{% endblock %}

{% block  leTableau %} 
<thead>
    <tr>
        <th>
            Mission
        </th>
        <th>
            Entreprise
        </th>
        <th>
            Lieu
        </th>
    </tr>
</thead>
<tbody>
    {% for formation in nomFormation %}
    {% if formation.nomCourt == LaFormation %}
    {% for stageCourant in formation.stages %}
       <tr>
        <td>
        <a class="nav-link" href="{{path('prostage_StageId', {stage:stageCourant.id})}}">
            {{stageCourant.Titre}}
        </td>
        <td>
            {{stageCourant.entreprise.Nom}}
        </td>
        <td>
            {{stageCourant.entreprise.adresse}}
        </td>
        </a>
    </tr>
    {% endfor %} 
    {% endif %}
    {% endfor %}

{% endblock %}